// app global css in SCSS form

/*
.body--dark a:link  {
  color: rgb(55, 158, 223);
  background-color: transparent;
  text-decoration: none;
}
*/

.body--dark a:visited {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

.body--dark pre {
  color: rgb(5, 32, 42);
  background-color: lightblue;
  text-decoration: none;
  padding:8px
}

.body--dark div .text-subheader {
  font-size: 16px;
  font-weight: bold;
  color: #AFDBF5;
}

.body--light div .text-subheader {
  font-size: 16px;
  font-weight: bold;
  color:darkblue;
}

.body--dark div .heading {
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: #40aeee;
}

.body--light div .heading{
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  color:darkblue;
}

.body--dark q {
  color: lightblue;
  background-color: transparent;
  padding:8px
}

.body--light form{
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  padding:4px;
  color:darkblue
}

.body--dark form {
  font-size: 22px;
  font-weight: bold;
  color: lightblue;
  background-color: transparent;
  padding:4px
}

.body--dark {
    --q-primary: #1976D2
    --q-secondary: #26A69A
    --q-accent: #e095ed
    /**
    --q-accent: #9C27B0
    */
    --q-positive: #21BA45
    --q-negative: #C10015
    --q-info: #31CCEC
    --q-warning: #F2C037
  }
